/* SUCURSALES */
.sucursalesBackground{
    @extend .genericBackground;
    background-image: $bggradient;
    height: $auto;
    @include padding(0,0 ,30px ,0 );
}
.sucursalesGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;

    iframe{
        @include sizes(80%,300px);
        @include padding(0,0 ,0 ,30px);
    }
    h2{
        @include sizes(300px,40%);
        background-color: black;
        color: white;
        @include fontSize(50px);
    }
    /* El titulo va a ocupar las 2 primeras posiciones del Grid */
    .tituloSelf{
        grid-area: 1/1/2/3;
    }
}

/* Media querys para tamaños de pantalla responsive */

@media (max-width: 480px){
    .sucursalesGrid{

        iframe{
            height: $full;
        }
        h2{
            @include sizes(150px,40%);
            @include fontSize(20px);
            @include margin(0, 10px, 0, 0);
        }
    }   
}