/* CONTACT */

/* Le doy estilo al contenedor del form */
.contactBackground{
    background-image: url("../img/Wallpaperkiss_1058132.jpg");
    background-position: $bgcenter; 
    background-repeat: $bgnorepeat;
    background-size: $bgsize;
    height: $full;
    padding-bottom: 30px;
    padding-top: 20px;
}
.contact{
    background-color: rgb(189, 186, 186);
    height: $full;
    width : 60%;
    margin: 0 auto;
    border-radius: 10px;
}


/* Media querys para tamaños de pantalla responsive */

@media (max-width: 768px) {
    .contact{
        h3{
            /*ME ROBO ESTA LOGICA DE BOOTSTRAP*/
            font-size: calc(1.625rem + 3.5vw);
        }
    }
}
@media (max-width: 576px) {
    .contact{
        h3{
            /*ME ROBO ESTA LOGICA DE BOOTSTRAP*/
            font-size: calc(1.625rem + 2.5vw);
        }
    }
}
@media (max-width: 480px){
    .contact{
        h3{
            /*ME ROBO ESTA LOGICA DE BOOTSTRAP*/
            font-size: 1.625rem;
        }
    }   
}