/* Borro estilos previos */
*{
    margin: 0;
    padding:0;
}

/* </ HEADER> */

/* BODY */
/* defino estilos genericos para todos los archivos */
/* Uso esto para ver si algo se sale del contenedor y este mal */
body{
    background-color: #f7cdb5e0;
    width: $full;
    height: $full;
}
/* Defino los tamaños que quiero que ocupe el main */
main{

    width: $full;
    height: $full;
}
/*defino tamaño de mi logo*/
.logo{

    border-radius: 36px;
    width: 150px;
    height: 100px;
}

.agrandarImg{
    cursor: pointer;
    transition: transform 0.5s;

    &:hover{
        transform: scale(1.2);
    }
    
}

h1{
    font-size: 60px;
    margin-left: 30px;
    padding-top: 10px;
    text-align: center;
}

/*FOOTER*/
#footer{
    background-color: black;
    padding: 50px;
    
    /* Declaro Flex para poder tener los elementos bien distribuidos en su contenedor */
    .footer__blocks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    /* Declaro Flex */
    .footer__links{
        img{
            height: 30px;
            width: 30px;
            border-radius: 10px;
            filter: grayscale($full);
        }
    }
    /* Mail y telefono */
    .footer__contacto{
        color: white;
        display: inline-block;
        font-size: 20px;
        align-items: right;

        span{
            font-size: 18px;
        }
        img{
            height: 20px;
            width: 20px;
            margin-right: 6px;
            margin-left: 5px;
            border-radius: 10px;
        }
    }
}

/* </FOOTER> */

/* Media querys para tamaños de pantalla responsive */
@media (max-width: 1420px){
    /* INDEX */
    h1{
        font-size: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    
    .agrandarImg{    
        &:hover{
            transform: none;
        }
    }
}

@media (max-width: 480px){
    h1{
        font-size: 25px;
    }
    
    .footer__logo{
        display: none;
    }
    h3{
        font-size: 20px;
    }
}