/* INDEX */
/* Fondo del index */
.background{
    
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to left, white, rgb(156, 156, 156));
    height: 100%;
    width: 100%;
    
}

/* Muestro los productos destacados en forma de grid */
.row{
    img{
        border-radius:40px;
        max-width: 100%;
        height: auto;
    }
}
    
