/* STORE */
.storeBackground{
    background-image: $bggradient;
    background-position: $bgcenter; 
    background-repeat: $bgnorepeat;
    background-size: $bgsize;
    height: $full;
    width: $full;
}
/*Cada producto de mi store*/
.imageContainer{
    background-position: $bgcenter;
    background-size: $bgsize; 
    border-radius: 20px;
    height: 250px;
    width: 30%;
}
.imageContainer--nikeblancas{ 
    background-image: url(../img/nikeblancas.jpeg);
    

}
.imageContainer--adidaspixar{
    background-image: url(../img/adidas\ pixar\ 1.jpg);
    
}
.imageContainer--newbalance{
    background-image: url(../img/new\ balance.jpg);

}
.imageContainer--fila{
    background-image: url(../img/fila\ blancas.jpg);
    
}
.imageContainer--adidassuperstar{
    background-image: url(../img/adidas\ superstar\ W.jpg);

}
.imageContainer--jordanblancas{
    background-image: url(../img/Joradan\ blancas.png);

}
.imageContainer--nikenegras{
    background-image: url(../img/nike\ negras\ M.jpg);
    
}
.imageContainer--jordan{
    background-image: url(../img/joradn.jpg);
    
}
.imageContainer--yeezy{
    background-image: url(../img/Yeezy.jpg);
}

/* Media querys para tamaños de pantalla responsive */
@media (max-width: 992px) {
    .imageContainer{
        height: 250px;
        width: 40%;
    }
} 

@media (max-width: 768px) {
    .imageContainer{
        height: 400px;
        width: $full;
    }
}
@media (max-width: 576px) {
    .imageContainer{
        height: 250px;
        width: 80%;
    }
}