/* ACLARACIONES: 
  *La pagina  es responsive y responde bien hasta aprox 320px de largo

*/
/* Borro estilos previos */
*{
    margin: 0;
    padding:0;

}
/*Letra que se va a utilizar*/
html{
    
    font-family: Helvetica, Arial, sans-serif;

}

/* HEADER */


/*defino tamaño de mi logo*/
.logo{
    
    border-radius: 36px;
    width: 150px;
    height: 100px;
}

/* </ HEADER> */

/* BODY */
/* defino estilos genericos para todos los archivos */
/* Uso esto para ver si algo se sale del contenedor y este mal */
body{
    background-color: #f7cdb5e0;
    width: 100%;
    height: 100%;
}
/* Defino los tamaños que quiero que ocupe el main */
main{

    width: 100%;
    height: 100%;
}

.agrandarImg{
    cursor: pointer;
    transition: transform 0.5s;
    
}
.agrandarImg:hover{
    transform: scale(1.3);
    
}
h1{
    font-size: 60px;
    margin-left: 30px;
    padding-top: 10px;
    text-align: center;
}

/*FOOTER*/
#footer{
    background-color: black;
    padding: 50px;
    position: relative;
}
/* Declaro Flex para poder tener los elementos bien distribuidos en su contenedor */
.footer__blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
/* Declaro Flex */
.footer__links img{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    filter: grayscale(100%);
}
/* Mail y telefono */
.footer__contacto{
    color: white;
    display: inline-block;
    font-size: 20px;
    align-items: right;
}
.footer__contacto span{
    font-size: 18px;
}
.footer__contacto__blocks img{
    height: 20px;
    width: 20px;
    margin-right: 6px;
    margin-left: 5px;
    border-radius: 10px;
}
/* </FOOTER> */

/* INDEX */
/* Fondo del index */
.background{
    
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to left, white, rgb(156, 156, 156));
    height: 100%;
    width: 100%;
    
}

/* Muestro los productos destacados en forma de grid */
.row img{
    border-radius:40px;
    max-width: 100%;
    height: auto;
}

/* STORE */
.storeBackground{
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to left, white, rgb(156, 156, 156));
    height: 100%;
    width: 100%;
}
/*Cada producto de mi store*/
.imageContainer{
    background-position: center;
    background-size: cover; 
    border-radius: 20px;
    height: 250px;
    width: 30%;
}
.imageContainer--nikeblancas{ 
    background-image: url(img/nikeblancas.jpeg);
    

}
.imageContainer--adidaspixar{
    background-image: url(img/adidas\ pixar\ 1.jpg);
    
}
.imageContainer--newbalance{
    background-image: url(img/new\ balance.jpg);
   
}
.imageContainer--fila{
    background-image: url(img/fila\ blancas.jpg);
    
}
.imageContainer--adidassuperstar{
    background-image: url(img/adidas\ superstar\ W.jpg);
   
}
.imageContainer--jordanblancas{
    background-image: url(img/Joradan\ blancas.png);
   
}
.imageContainer--nikenegras{
    background-image: url(img/nike\ negras\ M.jpg);
    
}
.imageContainer--jordan{
    background-image: url(img/joradn.jpg);
    
}
.imageContainer--yeezy{
    background-image: url(img/Yeezy.jpg);
}

/* SUCURSALES */
.sucursalesBackground{
    background-image: url("https://i.pinimg.com/originals/65/e3/36/65e336524b5a8982b811a8e07544e174.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 0 auto;
    padding-bottom: 30px;
}
.sucursalesGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.sucursalesGrid iframe{
    height: 300px;
    width: 80%;
    padding-left: 30px;
}
.sucursalesGrid h2{
    color: rgb(0, 0, 0);
    background-color: black;
    color: white;
    width: 300px;
    height: 40%;
    font-size: 50px;
}
/* El titulo va a ocupar las 2 primeras posiciones del Grid */
.tituloSelf{
    grid-area: 1/1/2/3;
}

/* ABOUT US */
/*  */

/* Defino los estilos de texto de About us.  */


.video{
    padding-top: 30px;
    height: 80vh;
    width: 100vw;
}

/* CONTACT */

/* Le doy estilo al contenedor del form */
.contactBackground{
    background-image: url("img/Wallpaperkiss_1058132.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
}
.contact{
    background-color: rgb(189, 186, 186);
    height: 100%;
    width : 60%;
    margin: 0 auto;
    border-radius: 10px;
}



/* Media querys para tamaños de pantalla responsive */
@media (max-width: 1420px){
    /* INDEX */
    /* Achico el grid para que se vea mejor */
    h1{
        font-size: 40px;
        padding-bottom: 20px;
    }
}
@media (max-width: 992px) {
    .imageContainer{
        height: 250px;
        width: 40%;
    }
} 
@media (max-width: 768px) {
    .imageContainer{
        height: 400px;
        width: 100%;
    }
    .agrandarImg:hover{
        transform: none;
        
    }
    .video{

        height: 40vh;
    }
    
}
  
@media (max-width: 576px) {
    .imageContainer{
        height: 250px;
        width: 80%;
    }
    .video{
        height: 30vh;
    }
    
} 
@media (max-width: 480px){

    h1{
        font-size: 25px;
    }
    
    .footer__logo{
        display: none;
    }
    h3{
        font-size: 20px;
    }
    
    .sucursalesGrid iframe{
        height: 100%;
    }
    .sucursalesGrid h2{
        width: 150px;
        height: 40%;
        font-size: 20px;
        margin-right: 10px;
    }
}